
/*prevent default button active/focus behaviour*/
.MenuItem, .MenuItem:active, .MenuItem:focus {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  border: none;
  border-left: solid transparent;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  color: white;
  outline: none;
}
.MenuItem:link, .MenuItem:visited {
  color: inherit;
  text-decoration: none;
}

.MenuItem:hover {
  border-left: solid rgba(0, 153, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4px;
}




/*.MenuItem {*/
  /*text-decoration: none;*/
  /*border-left: solid transparent;*/
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*margin: 0;*/
/*}*/
/*!*helvetica neue, helvetica, arial*!*/

/*.MenuItem:hover {*/
  /*background: rgba(0,0,0,.9);*/
  /*cursor: pointer;*/
  /*border-left-color: #57a9ff;*/
/*}*/

/*.MenuItem > * {*/
  /*margin: 4px;*/
/*}*/
