.SlidingWidget {
  position: fixed;
  display: flex;
  flex-direction: column;
  /*use width 0 so that flex container does not have width of panel, therefore potentially overlapping other icons, when panel shrinks in height to 0 when inactive*/
  width: 0;
  overflow-x: visible;
}

.SlidingPanel {
  display: flex;
  flex-direction: column;
  transition: height 0.4s ease-out;
  border-radius: 3px;
}


.SlidingPanel::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.SlidingPanel::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

