.Radio {
  display: none;
}

.Radio + span {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 8px;
  color: transparent;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid white;
  margin: 0 2px;
  /*this property along with vertical-align: middle for i will put radio in center of box */
  text-align: center;
}

.Radio + span i {
  vertical-align: middle;
}

.Radio:checked + span {
  background-color: rgba(0, 153, 255, 1);
  border: 1px solid rgba(0, 153, 255, 1);
  color: white;
}

.Radio + span:hover {
  border: 1px solid rgba(0, 153, 255, 1);
}
