.TextArea {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  background-color: transparent;
  color: white;
  height: 100px;
  outline: none;
  resize: none;
}

.TextArea::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

.TextArea::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.TextArea::selection {
  background: rgba(0, 153, 255, 0.4);

}
